:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
}
#nav{
    margin-right: 150px;
}
#navbar-items{
    gap: 30px;
}
#navbar{
    padding: 10px  10px;
    border-bottom: 1px solid white;
}
.nav-links{
    text-decoration: none;
}
#logo{
    margin-left: 150px;
}
#main-logo{
    width: 165px;
}
#order-btn{
    padding: 10px 10px;
    color: #ffffff;
    background-color: #eb0a0a;
    border: none;

}
#order-icon{
    padding: 10px 10px;
    color: #eb0a0a;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 5px;
}
#fran-btn{
    background-color: transparent;
    cursor: pointer;
    padding: 15px 15px;
    border: 2px solid white;
}
.center{
    text-align: center;
}
.main-div{
    max-width: 100%;
}
.rl-margin{
padding-inline: 200px;
}
.text-grey{
    color: gray;
}
.mb-5{
    margin-bottom: 15px;
}
.text-div{
    width: 450px;
}
.text-left{
    text-align: left;
}
.gap{
    gap: 20px;
}
#footer-img{
    width: 120px;
}
#footer-p{
    width: 350px;
}
#line-height{
    line-height: 30px;
}
#footer-icons{
    font-size: xx-large;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.icons{
    padding-right: 10px;
}
#order-icon{
    padding: 10px 10px;
    color: #eb0a0a;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 5px;
}
#direction-btn{
    background-color: transparent;
    cursor: pointer;
    padding: 10px 10px;
    border: 2px solid white;
    color: #ffffff;
}
