:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
}
/* NavBar */
#nav{
    margin-right: 150px;
}
#navbar-items{
    gap: 30px;
}
#navbar{
    padding: 10px  10px;
}
.nav-links{
    text-decoration: none;
}
#logo{
    margin-left: 150px;
}
#main-logo{
    width: 165px;
}
#order-btn{
    padding: 10px 10px;
    color: #ffffff;
    background-color: #eb0a0a;
    border: none;

}
#order-icon{
    padding: 10px 10px;
    color: #eb0a0a;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 5px;
}
#fran-btn{
    background-color: transparent;
    cursor: pointer;
    padding: 15px 15px;
    border: 2px solid white;
}
.gap{
    gap: 20px;
}
#pad-bot{
    padding-bottom: 5px;
    font-size: small;
}
#mar-bot{
    padding-bottom: 20px;
    font-size: 15px;
}

/* Form */

#input{
    width: 550px;
    margin: 10px 0px 15px;
    padding: 12px 12px;
    border-radius: 5px;
    
}
.gap{
    gap: 30px;
}
#sub-btn{
    padding: 13px;
    color: #ffffff;
    background-color: #eb0a0a;
    border: none;
    width: 150px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px;  
    margin-bottom: 40px;
} 

/* Footer */
#footer-img{
    width: 120px;
}
#footer-p{
    width: 350px;
}
#line-height{
    line-height: 30px;
}
#footer-icons{
    font-size: xx-large;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.icons{
    padding-right: 10px;
}